[Desktop Entry]
Type=Application
Name=puppyrouter app
Comment=All-in-One Assistant for Claude Code, Codex & Gemini CLI
Exec=puppyrouter-app
Icon=com.ccswitch.desktop
Terminal=false
Categories=Utility;Development;
StartupNotify=true
